body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.description {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.description p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

main {
    padding: 20px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product {
    margin: 10px;
    text-align: center;
}

.product img {
    width: 150px;
    /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
}

#rating-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#rating-summary .card {
    flex-basis: 30%;
    /* Adjust based on your layout */
    text-align: center;
}

.average-rating-card,
.verified-reviews-card {
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.average-rating-card h2,
.verified-reviews-card h2 {
    margin-bottom: 5px;
    font-size: 1rem;
    /* Smaller font size for the text */
}

.average-rating-card p,
.verified-reviews-card p {
    font-size: 2.5rem;
    /* Larger and bolder font size for the rating number */
    font-weight: bold;
    margin-top: 5px;
}

.average-rating-text {
    font-size: 10.5rem;
    color: green;
}

.verified-reviews-text {
    font-size: 10.5rem;
    color: blue;
}

.sort-button {
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sort-button button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-button button:hover {
    background-color: #2980b9;
}

.highlight {
    border: 2px solid blue; 
}